code/
export/
FbExportData/
python/
venv/
*.exe
*.glb
*.glb.import
GodotProject/.godot
GodotProject/addons
GodotProject/scripts
GodotProject/objects
GodotProject/raw
GodotProject/static
GodotProject/levels/*.tscn
!GodotProject/level/MP_Abbasid_TD.tscn
node_modules
